@font-face {
    font-family: "squidgame";
    src: url(../fonts/squidgame.ttf);
}
 
body {
    box-sizing: border-box;
}

#contenedor1 {
    padding: 0;
    height: auto ;
    background-image: url(../img/fondoAboutPc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 991px) {
    #contenedor1 {
      background-image: url(../img/fondoAboutMovil.jpg);
      background-position: center center;
      color:white
    }
  }

.cabecera {
    height: ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'squidgame';
    font-weight: bold;
    color: white;
}

h1 { 
    margin-top: 0.5em;
}

.centro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: transparent;
}
@media (max-width: 768px) {

.centro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
}}


h2 {
    font-weight: bold;
    font-family: "squidgame";
    margin-top: 2em;
}

h5 {
margin: 0;
padding: 0;
padding: 1em;
}


h4 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}

.footer {
    height: 3em;
    font-family: 'squidgame';
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

a {
    color: white;
    background-color: transparent;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width: 768px) {

a {
    color: white;
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;    
    padding: 1em;

}}

h3 {
    padding: 1em;
}

