@font-face {
    font-family: "squidgame";
    src: url(../fonts/squidgame.ttf);
}
 
body {
    box-sizing: border-box;
}

#contenedor1 {
    padding: 0;
    background-image: url(../img/fondoAboutPc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 991px) {
    #contenedor1 {
      background-image: url(../img/fondoAboutMovil.jpg);
      background-position: center center;
      color:white
    }
  }

.cabecera {
    height: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'squidgame';
    font-weight: bold;
    color: white;
}

h1 { 
    margin-top: 0.5em;
}

.centro {
    background-color: re;
    min-height: 85.7vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h2 {
    font-weight: bold;
    font-family: "squidgame";
    margin-top: 2em;
}

h4 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 1em;
    margin-right: 1em;
}

.footer {
    height: 3em;
    font-family: 'squidgame';
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

a {
    margin-right: 1em;
    color: white;
}