body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paginaPrincipal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* Div superior que contiene el nombre de cabecera */
.fondoprincipal {
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.nombrecabecera {
  height: 40%;
}

#fondocalamar {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Adaptando la imagen de fondo a los distintos tamaños de pantalla */
@media only screen and (min-width: 1200px) {
  #fondocalamar {
    object-fit: unset;
  }
}

.contenido {
  position: relative;
  z-index: 2;
  text-align: center;
  height: 100%;
  width: 100%;
}

.cabecera {
  height: 50%;
}
/* Div inferior que contiene la elección de dificultades */
#contenidoDificultades {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.dificultades {
  height: 15em;
  width: 70em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
/* Botones de dificultades */
.btn-link {
  margin: 0.4em;
}

.btn-link:hover {
  transform: scale(1.2);
}

.about {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f24d8c;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}

.parteBottom {
  display: flex;
  justify-content:flex-end;
  height: 5em;
  width: 5em;
  cursor: pointer;
}
