body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.juegoentero {
  height: 100vh;
  background-image: url(../img/fondoCalamarTablero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

/* FONDO DEL TABLERO IMITACION MADERA */
.partesuperior, .centrotablero, .bottom {
  margin: 0;
  background-image: url(../img/fondoMaderaClara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.partesuperior, .bottom {
  width: 90%;
  max-width: 22em;
  height: 4.6875em;
}

/* PARTE SUPERIOR QUE CONTIENE LA COMBINACION SECRETA ALEATORIA */
.partesuperior {
  margin-top: 1.2em;
  border-bottom: 0.125em solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 1.25em;
  border-top-right-radius: 1.25em;
}

.combsecreta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.125em;
  width: 15em;
  background-color:;
  border-radius: 0.625em;
}

.combsecreta > span {
  width: 2.4em;
  height: 2.4em;
  margin: 0 0.625em;
  border-radius: 1.25em;
  border: 0.0625em solid black;
  display: none;
}

.color-uno {
  display: block;
}

/* EL TABLERO SE DIVIDE EN 10 FILAS Y 5 COLUMNAS POR DEFECTO */
.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid > * {
  border: 0.0625em solid black;
  display: grid;
  place-items: center;
}

/* TABLERO CENTRAL */
.centrotablero {
  width: 90%;
  max-width: 22em;
  height: 35em;
}

.dots1, .dots2, .dots3, .dots4, .dots5, .dots6, .dots7, .dots8, .dots9, .dots10 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0.3125em 0.625em;
}
/* AFECTA A LOS HIJOS DE ESTOS */
.dots1 > div, .dots2 > div, .dots3 > div, .dots4 > div, .dots5 > div, .dots6 > div, .dots7 > div, .dots8 > div, .dots9 > div, .dots10 > div {
  width: 0.63em;
  height: 0.63em;
  border: 0.125em solid black;
  border-radius: 1.25em;
}

#circular {
  width: 1.5625em;
  height: 1.5625em;
  border-radius: 1.25em;
  box-shadow: inset 0 0.0625em 0.0625em 0.03125em #070707;
}

/* BOTONES INFERIORES */
.bottom {
  margin-bottom: 3em;
  border-bottom: 0.3125em solid black;
  border-top: 0.125em solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 1.25em;
  border-bottom-right-radius: 1.25em;
}

.bottom > span {
  width: 1.6875em;
  height: 1.6875em;
  margin: 0 0.4375em;
  border: 0.125em solid #9E9E9E;
  border-radius: 1.25em;
}

.bottom > span:hover {
  cursor: pointer;
}

.bottom > span:active {
  transform: scale(1.2);
}

#aceptar1 {
  width: 3em;
  height: 3em;
  display: grid;
  place-items: center;
  color: white;
  background-color: #7cb342;
  user-select: none;
}

#borrar1 {
  width: 3em;
  height: 3em;
  display: grid;
  place-items: center;
  font-weight: bolder;
  background-color: white;
  user-select: none;
}
/* DESACTIVA LAS FILAS BLOQUEADAS*/
.bloqueado {
  pointer-events: none; 
  opacity: 0.5;
}