body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 100%;
}

.paginaEntera {
    height: 100vh;
    max-width: 98%;
    padding: 0;
}

.fila {
    padding: 0;
    margin: 0;
    border: 0;
}

.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loSiento {
    margin-top: 12em;
    margin-bottom: 8em;
    user-select: none;
    pointer-events: none;
}

#hasPerdido {
    user-select: none;
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    body {
      background-image: url(../img/fondoCalamarMovilLoser.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
      background-image: url(../img/fondoCalamarTabletLoser.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;
    }
  }
  
  @media screen and (min-width: 1201px) {
    body {
      background-image: url(../img/fondoCalamarPcWinner.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .volverAjugar {
    background-color: #f24d8c;
    margin-top: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }