body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paginaPrincipal {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.fondoprincipal {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#fondocalamar {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenido {
  position: relative;
  z-index: 2;
  text-align: center;
  height: 100%;
  width: 100%;
}

.cabecera {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#contenidoDificultades {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.dificultades {
  height: 10em;
  width: 70em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2em;
  overflow: hidden;

}

.btn-link {
  margin: 0.4em;
}

.btn-link:hover {
  transform: scale(1.1);
}